Package: com.softsec.iosmitmdetect
Name: iosMitmDetect
Depends: mobilesubstrate, firmware(>=8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: softsec
Author: softsec
Section: Tweaks
